<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Medium -Get smarted about what matters to you</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="shortcut icon" type="image/png" href="/images/medium-favicon.png"/>
    <script src="https://kit.fontawesome.com/f4ce9ea80b.js" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
  
  </head>
  <body>
    <header>
      <a href='/'><p class='header-links' id='logo-p'>Medium</p></a>
    <a href="/users/register"><div class="button header-links">Sign Up</div></a>
    <a href="/users/login"><div class="button header-links">Sign In</div></a>
    </header>
    <div class=form-container>
      <form class="form" action="/users/register" method="POST">
        <h2>Register</h2>
        <div class="input">
          <div class="inputBox">
                <label>Name</label>
                <input type="text" name="name" placeholder="Name" required/>
          </div>
          <div class="inputBox">
            <label>Email</label>
            <input type="email" name="email" placeholder="example@xyz.com" required>
          </div>
          <div class="inputBox">
            <label>Password</label>
            <input type="password" name="password" placeholder="*******" required>
          </div>
          <div class="inputBox">
            <input type="submit" value="SignUp">
          </div>
          <div>
            <a href= '/auth/github' class='oauth-github'>
              <i class="fab fa-github oauth-login-i"></i>
              <p>Sign up with Github</p>
            </a>
          </div>
          <div>
            <a href= '/auth/facebook' class='oauth-fb'>
              <i class="fab fa-facebook oauth-login-i"></i>
              <p>Sign up with Facebook</p>
            </a>
          </div>
          <div>
            <a href= '/auth/google' class='oauth-fb'>
              <i class="fab fa-google oauth-login-i"></i>
              <p>Sign in with Google</p>
            </a>
          </div>
        </div>
        <p class="forget">Already registered? <a href="/users/login">Click Here</a></p>
      </form>
    </div>
  </body>
</html>
