.home-grid {
    display: grid;
    grid-template-columns: 0.75fr 880px 1fr;
    width: 100%;
}
.right-home-div{
    padding: 0.5rem;
}
.more-from-network-div{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: #D7EFEE;
    height:180px;
}
.basic-flex{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.more-flex{
    flex-wrap: nowrap;
    padding: 0 0.5rem;
}

.home-network-img{
    width: 100%;
}
.more-from-network-text{
    font-size: 16px;
    vertical-align: center;
}
.right-home-inner-div{
    position: sticky;
    top: 1rem;
    padding-top: 1rem;
}
.network-articles{
    margin-top: 2rem;
    border:  0.5px solid #D9D9D9;
}
.network-article-title{
    font-size: 16px;
    font-weight: 550;
    color: black;
}
.network-articles-elem{
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    display: inline-block;
    border-bottom:  0.5px solid #D9D9D9;
}
.network-auth-name{
    font-size: 14px;
    font-weight: 400;
}
.network-auth-date{
    font-size: 12px;
}
.network-articles-elem  .pfu{
    font-size: 10px;
}

.left-home-div{
    padding: 0.5rem;
}
.left-home-inner-div{
    position: sticky;
    top: 2rem;
    padding-top: 2rem;
}
.left-home-user-options{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-gap: 0.5rem;
    max-width: 100%;
    /* width: 80%; */
    min-height: 2rem;
}

.left-home-option-elem{
    padding: 0.5rem 1rem;
    display: grid;
    /* justify-self: center; */
    grid-template-columns: 48px auto;
    cursor: pointer;
    align-content: center;
    
}
.left-home-option-elem:hover{
    background-color: rgba(8, 9, 10, 0.05);
    transition: all 0.2s ease-out;
}
.left-home-options-text{
    font-size: 20px;
    font-weight: 400;
    color: rgba(8, 9, 10, 0.6);
    white-space: nowrap; 
    overflow: none;
}
.left-home-option-icon-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.write-new-icon{
    color: #3B49DF;
}
.tag-icon{
    color: #FFD983;
}
.liked-icon{
    color: #DE3039;
}
.popular-icon{
  color: #FE605F;  
}   
.left-home-option-icon {
    font-size: 20px;
}
