/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 code[class*="language-"],
 pre[class*="language-"] {
     color: #ccc;
     background: none;
     font-family: "Fira Code", Consolas, Monaco, "Andale Mono", "Ubuntu Mono";
     font-size: 1em;
     text-align: left;
     white-space: pre;
     word-spacing: normal;
     word-break: normal;
     word-wrap: normal;
     line-height: 1.5;
     width: 90%;
     
 
     -moz-tab-size: 4;
     -o-tab-size: 4;
     tab-size: 4;
 
     -webkit-hyphens: none;
     -moz-hyphens: none;
     -ms-hyphens: none;
     hyphens: none;
 
 }
 
 /* Code blocks */
 pre[class*="language-"] {
     padding: 1em;
     margin: .5em 0;
     /* overflow: auto; */
     width: 100%;
     margin: 1rem 0;
     
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
     background-color: #212121;
     -webkit-box-shadow: 9px 11px 36px -4px rgba(0,0,0,0.75);
 -moz-box-shadow: 9px 11px 36px -4px rgba(0,0,0,0.75);
 box-shadow: 9px 11px 36px -4px rgba(0,0,0,0.75);
     font-size: .9rem;
     /* border-radius: 10px; */
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
     padding: .1em;
     border-radius: .3em;
     white-space: normal;
 }
 
 .token.comment,
 .token.block-comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
     color: #999;
 }
 
 .token.punctuation {
     color: #ccc;
 }
 
 .token.tag,
 .token.attr-name,
 .token.namespace,
 .token.deleted {
     color: #f76f73;
 }
 
 .token.function-name {
     color: #5297db;
 }
 
 .token.boolean,
 .token.number,
 .token.function {
     color: #ff7e28;
 }
 
 .token.property,
 .token.class-name,
 .token.constant,
 .token.symbol {
     color: #ffbd2f;
 }
 
 .token.selector,
 .token.important,
 .token.atrule,
 .token.keyword,
 .token.builtin {
     color: #e28ae4;
 }
 
 .token.string,
 .token.char,
 .token.attr-value,
 .token.regex,
 .token.variable {
     color: #5cd88c;
 }
 
 .token.operator,
 .token.entity,
 .token.url {
     color: #54ebe8;
 }
 
 .token.important,
 .token.bold {
     font-weight: bold;
 }
 .token.italic {
     font-style: italic;
 }
 
 .token.entity {
     cursor: help;
 }
 
 .token.inserted {
     color: green;
 }
 
 @media all and (max-width:768px){
     pre[class*="language-"] {
     width: 100%;
     }
 }