@import url("https://fonts.googleapis.com/css?family=Lato|Open+Sans|Source+Sans+Pro&display=swap");

:root {
  --black: #222222;
  --light-black: #555555;
  --blue: #1c5d99;
  --green: #639fab;
  --periwinkle: #FAFAFA;
}
a{
  text-decoration: none;
}
a> p{
  text-decoration: none;
}
body {
  background-color: var(--periwinkle);
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
  text-rendering: optimizeLegibility;
}

.profile-container {
  width: 800px;
  height: 650px;
  margin-bottom: 1.5rem;
  background-color: var(--green);
  border-radius: 0px 30px 30px 0px;
  box-shadow: 0px 0px 30px -9px var(--blue);
}

.profilecontent {
  background-color: white;
  width: 170px;
  height: 370px;
  margin-left: -85px;
  margin-top: 120px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px -9px var(--blue);
  text-align: center;
  position: relative;
}

.profilepic {
  /* background-image: url(https://cdn.pixabay.com/photo/2016/03/09/09/31/woman-1245840_1280.jpg); */
  /* background-size: cover; */
  /* background-position: center; */
  width: 170px;
  height: 170px;
  border-radius: 20px 20px 0px 0px;
}
.responsive-img{
    width: 100%;
    height: 100%;
}
.name-profile {
  margin-top: 0;
  font-family: Lato;
  font-size: 15pt;
  color: var(--black);
  font-weight: normal;
}

.bio-profile {
  font-family: Source Sans Pro;
  font-size: 10pt;
  /* margin-top: 20px; */
  color: var(--green);
  font-weight: normal;
}

.profile-heading {
  font-size: 8pt !important;
}

.button-container {
  height: 90px;
  background-color: lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  border-radius: 20px;
  position: absolute;
  bottom: 0;
    left: 0;
    right: 0;
}

#Followers, #ArticleCount, #Following {
  background-color: #e6e6e6;
  height: 100%;
  width: 33%;
  border: none;
  font-family: lato;
  font-size: 14pt;
  padding: 5px;
  color: #b3b3b3;
}

#Followers:hover, #ArticleCount:hover, #Following:hover {
  color: var(--green);
}

#Followers {
  border-left: solid 1px lightgrey;
  border-right: solid 1px lightgrey;
}

#ArticleCount {
  border-radius: 0px 0px 0px 20px;
}

#Following {
  border-radius: 0px 0px 20px 0px;
}

.contentcontainer {
  background-color: white;
  width: 600px;
  height: 620px;
  margin-top: -490px;
  margin-left: 110px;
  border-radius: 0px 20px 20px 0px;
  box-shadow: 0px 0px 30px -9px var(--blue);
}

.stories {
  width: 100%;
  height: 25%;
  display: flex;
  overflow-x: auto;
  border-bottom: solid 2px var(--green);
  padding-bottom: 15px;
}

.photos {
  width: 580px;
  height: 86%;
  display: grid;
  margin: 0 0.5rem;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 0.5rem;
  grid-auto-rows: 144px;
  /* flex-direction: column; */
  /* flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center; */
  overflow-y: auto;
}

h3 {
  font-family: Open Sans;
  font-size: 12.5pt;
  color: white;
  font-weight: 900;
  background-color: var(--green);
  width: 40%;
  height: 6%;
  border-radius: 0px 0px 15px 0px;
  text-align: center;
}
.pfu{
  padding: 4px 8px;
  border-radius: 6px;
  /* background-color: #e6e6e6; */
}
.profile-follow-user{
  color: rgb(10, 56, 85);
  transition: all 0.2s ease-in-out;
  background-color: #b3b3b3;
  border: 0.5px solid rgb(13, 89, 136);
}
.profile-unfollow-user{
  background-color: #1DA1F2;
  color: white;
  transition: all 0.2s ease-in-out;
}
.profile-edit-div{
  position: relative;
  left: -85px;
  bottom: 120px;
  min-height: 24px;
  width: 170px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
  border-radius: 20px;
  box-shadow: 0px 0px 30px -9px var(--blue);
/* 
  background-color: white;
  width: 170px;
  height: 48px;
  margin-left: -85px;
  margin-top: 520px;
  border-radius: 20px;
  
  text-align: center;
  position: relative; */
  
}
.profile-edit-div > a{
  text-decoration: none;
  color: #b3b3b3;
  font-family: Lato;
  
}
.profile-edit-div > a:hover{
  /* text-decoration: none; */
  color: #b3b3b3;
  text-shadow: 0.6px 0.5px 1px rgb(114, 107, 108);
  transition: all 0.2s ease-in;
}
#Articles_title {
  margin-top: 0;
  /* padding-top: 0.5rem; */
  /* display: flex; */
}

.story {
  width: 140px;
  height: auto;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.story:hover {
  border-radius: 0px;
  transition: ease 500ms;
}

.profile-article-elem {
  /* height: auto; */
  padding: 0.5rem;
  border-radius: 20px;
  background-color: aquamarine;
  color: var(--black) ;
  
  
}
.profile-article-elem-tit {
  font-weight: 600; 
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--black);
  font-family: Lato;
}
.profile-article-elem-dt{
  font-weight: 500; 
  font-size: 12px;
  letter-spacing: 0.25px;
  color: var(--light-black);
  font-family: Lato;
}
.profile-article-elem:hover {
  border-radius: 0px;
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}
header {
  /* min-width: 100vh; */
  width: 100%;
  height: 64px;
  background: #ececec;
  margin-bottom: 2rem;
  /* padding: 0 8rem; */
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 101;
  position: sticky;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.icon-logo{
  margin-left: 8rem;
}
.footer-text{
  text-align: center;
  font-size: 12px;
  color: #000;
  text-transform: uppercase;
  font-family: 'Muli', sans-serif;
}
footer{
  /* margin-top: 1rem; */

  min-width: 100vh;
  width: 100%;
  
  height: 24px;
  background: #ececec;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  min-height: 90vh;
}
.header-links{
  text-decoration: none;
}

.button {
  text-transform: uppercase;
  width: 96px;
  height: 32px;
  border: 2px solid #000;
  border-radius: 20px;
  float: right;
  margin-top: 15px;
  margin-right: 20px;
  color: #000;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
.button:hover {
  color: #40A4e8;
  border: 2px solid #0080ff;
}

.button:hover {
  color: #40A4e8;
  border: 2px solid #0080ff;
}

#logo-p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 32px;
  font-weight: 600;
  float: left;
  line-height: 40px;
  color: rgb(255, 255, 255);
  padding: 0 1rem;
  background: black;
  margin-left: 20px;
  border-radius: 4px;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
  font-family: 'EB Garamond', serif;
}


.text-align-center{
  text-align: center;
}
.header-btn-grp{
  margin-right: 8rem;
}